@model ContosoUniversity.Models.Instructor

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Instructor</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FirstMidName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FirstMidName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HireTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HireTime)
        </dd>
    </dl>
    @if (Model.CourseAssignments != null)
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Course ID</th>
                    <th>Course name</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var course in Model.CourseAssignments)
                {
                    <tr>
                        <td>
                            @course.CourseID
                        </td>
                        <td>
                            @course.Course.Title
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
