@model ContosoUniversity.Models.SchoolViewModels.InstructorIndexData

@{
    ViewData["Title"] = "Instructors";
}

<h1>Instructors</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                First name
            </th>
            <th>
                Last name
            </th>
            <th>
                Hire date
            </th>
            <th>
                Offices
            </th>
            <th>
                Courses
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Instructors)
        {
            string SelectedRow = "";
            <tr class="@SelectedRow">
                <td>
                    @Html.DisplayFor(modelItem => item.FirstMidName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HireTime)
                </td>
                <td>
                    @if (item.OfficeAssignment != null)
                    {
                        @Html.DisplayFor(modelItem => item.OfficeAssignment.Location)
                    }
                    else
                    {
                        <p style="color:grey">Not specified</p>
                    }
                </td>
                <td>
                    @foreach (var course in item.CourseAssignments)
                    {
                        @course.Course.CourseID @course.Course.Title <br />
                    }
                </td>
                <td>
                    <a asp-action="Index" asp-route-id="@item.ID">Select</a>
                    <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>


    if (Model.Courses != null)
    {
        <table class="table">
            <thead>
                <th></th>
                <th>Course number</th>
                <th>Course name</th>
                <th>Department name</th>
            </thead>
            <tbody>
                @foreach (var item in Model.Courses)
                {
                    string SelectedRow = "";
                    if (item.CourseID == (int?)ViewData["CourseID"])
                    {
                        SelectedRow = "success";
                    }
                    <tr class="@SelectedRow">
                        <td>
                            @Html.ActionLink("Select", "Index", new {CourseID = item.CourseID})
                        </td>
                        <td>
                            @item.CourseID
                        </td>
                        <td>
                            @item.Title
                        </td>
                        <td>
                            @item.Department.Name
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    }
}
